<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.yalestc.yalepublic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/yale"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/GoogleMapsKey"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/yale"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Videos.PlaylistList"
            android:label="@string/title_activity_video_list"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".News.NewsReader"
            android:label="@string/app_name"
            android:parentActivityName=".News.NewsChooser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".News.NewsChooser"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Videos.VideosWithinPlaylist"
            android:label="@string/title_activity_videos_within_list"
            android:parentActivityName=".Videos.PlaylistList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PhotosWithinAlbum"
            android:label="@string/photos_in_album"
            android:parentActivityName=".PhotoList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:name=".Videos.VideoYoutubePlayback"
            android:label="@string/title_activity_video_playback"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image" >
        </activity>
        <activity
            android:name=".PhotoList"
            android:label="@string/title_activity_photo_list"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".Events.EventCategories"
            android:label="@string/title_activity_event_categories"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data android:name="android.app.default_searchable"
                android:value=".Events.SearchEvents.SearchByName"/>
        </activity>

        <activity
            android:name=".MapView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>

        <activity
            android:name=".MapSearch"
            android:parentActivityName=".MapView"
            android:label="@string/building_search"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/map_search"/>
        </activity>

        <activity
            android:name=".About"
            android:label="@string/maps"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".Events.EventsDisplay"
            android:parentActivityName=".Events.EventCategories"
            android:label="@string/title_activity_events_display"
            android:screenOrientation="portrait">
        <meta-data android:name="android.app.default_searchable"
            android:value=".Events.SearchEvents.SearchByName"/>
        </activity>

        <activity
            android:name=".Events.SearchEvents.SearchByName"
            android:parentActivityName=".Events.EventCategories"
            android:label="@string/title_activity_events_search"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/event_search"/>
        </activity>

        <activity
            android:name=".Events.EventsDetails"
            android:label="@string/title_activity_events_details"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
